<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>
    <h1>Simple Chat App</h1>

    <section id="chatroom">
        <section id="feedback"></section>
    </section>

    <section id="input_msg">
        <div>
            <input id="message" type="text" placeholder="Start Messaging" name="msg">
            <button id="send_message" type="button">Send -></button>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
</body>

</html>